/* Centering styles */
.d3vziualization {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Allow it to grow with content */
    padding-bottom: 50px; /* Add padding to prevent overlap with the footer */
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;  /* Set a width of 90% to utilize space */
    max-width: 1200px; /* Limit max width to keep it responsive */
    min-height: 500px;  /* Set a minimum height for the chart */
}


.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px; /* Reduced font size */
    margin: 5px;
    padding: 12px 24px; /* Slightly reduced button padding */
    transition: all 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:active {
    background-color: #3e8e41;
}

/* Make buttons responsive */
@media (max-width: 1024px) {
    button {
        font-size: 13px;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    button {
        font-size: 12px;
        padding: 8px 16px;
    }
}

.bar {
    fill: steelblue;
}

.bar:hover, .homeless-bar:hover {
    fill: orange;
}

.homeless-bar {
    fill: red;
    opacity: 0.8;
}



.tooltip {
    position: absolute;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

/* General responsive design */
@media (max-width: 1440px) {
    #chart {
        max-width: 85%; /* Increase size slightly */
    }
}

@media (max-width: 1280px) {
    #chart {
        max-width: 75%; /* Increase size slightly */
    }
}

@media (max-width: 1024px) {
    #chart {
        max-width: 65%; /* Increase size slightly */
    }
}

@media (max-width: 768px) {
    #chart {
        max-width: 95%; /* Increase size slightly */
    }
}


.legend-box {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.population {
    background-color: steelblue;
}

.homeless {
    background-color: red;
}

#legend {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add spacing between legend items */
    margin-top: 20px; /* Add more margin for spacing from the chart */
    font-size: 14px;
}

#legend div {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust spacing between the legend box and text */
}